<div class="head">
  <div class="marbles inline">
    <div class="red marble btn"></div>
    <div class="green marble btn"></div>
    <div class="yellow marble btn"></div>
  </div>

  <div class="tour-leader titlebar"></div>

  <div class="notify"></div>
</div>
<div class="body">
  <div class="cancel">

    <div class="circular rotate btn">
      <div class="img"
           style="background-image: url({{ url_for('static', filename='img/cancel/png/cancel.png') }});"></div>
    </div>
    <!-- jigul -->
  </div>
</div>
<div class="foot"></div>
