<!DOCTYPE html>
<html class="html" lang="en">
<head>
  <meta charset="UTF-8">

  {% for link in links.css %}
    <link rel="stylesheet" href="{{ url_for('static', filename=link) }}"/>
  {% endfor %}

  {% for link in links.js.head %}
    <script src="{{ url_for('static', filename=link) }}"></script>
  {% endfor %}

</head>
<body id="container">
</body>
{% include 'ractive.html' %}

{% for link in links.js.body %}
  <script type="text/javascript" src="{{ url_for('static', filename=link) }}" defer></script>
{% endfor %}

</html>