
      <div class="head" style="text-align: center">
        feiowj
      </div>
      <div class="body">
        <div class="chat">
          <div class="row">
            <div class="column column-avatar">

            </div>

            <div class="column column-remaining">
              <div class="msg salmon arrow left dummy-size">
                <div class="img height-fix" style="background-image: url(../img/dermout_power.jpg)"></div>
                <div class="msg milky reply">
                  <div class="status">feoijio</div>

                  <div class="row">
                    <div class="column column-3">

                      <div class="img" style="background-image: url(../img/dermout_power.jpg)"></div>

                    </div>
                    <div class="column column-9">

                      <div class="text">
                        <span>fjoie wjfew ppojf pejwpf</span>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="text">
                  <span>foewjof</span>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="status">huihi</div>
          </div>
        </div>
      </div>
      <div class="foot">


        <div class="input-bar width-fix right-push shadow-effect">
          <div class="text-bar left-push">
            <div contenteditable="true" style="position: relative; z-index: 99;">
              foij
            </div>
          </div>
          <div class="icon-bar right-push">
            <i class="em em-smile icon"></i>
            <div class="icon-bar out down right" width=5 height=4 style="overflow-y:scroll;">
              <div class="em-holder">
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>
                <i class="em em-cry icon"></i>

                <!-- <i class="em em-cry icon"></i> -->
              </div>
            </div>
          </div>
        </div>

      </div>
