<div class="head">

  <div class="cancel" style="display: inline-table">

    <div class="rounded btn">
      <div class="img" style="background-image: url({{ url_for('static', filename='img/cancel/png/cancel.png') }});"></div>
    </div>

  </div>

  <div class="capsule thick list-chat" style="">
    <div class="switch">
      {% raw %}
      <div class="case btn left" style="background-color: transparent">{{ screen[0].capsule.cases.left }}</div>
      <div class="case btn right" style="background-color: transparent">{{ screen[0].capsule.cases.right }}</div>
      <div class="case roller" style="display: inline-block; height: 30px;"></div>
      {% endraw %}
    </div>
  </div>



</div>
<div class="body">
  <div class="list">

    <!-- it's from list in items -->
    <div class="bed-status row">
      <div class="column column-square avatar">
        <div class="img with-pad circular" style="background-image: url(../img/dermout_power.jpg)"></div>
      </div>
      <div class="column column-remaining status" style="padding-left: 5px">
        <div class="one-line" style="margin-top: 15px">fewioj</div>
        <div class="one-line lighter">fjeioj</div>
      </div>
    </div>

  </div>
</div>
<div class="foot" style="z-index: 1">
  <div class="width-fix btns">
    <div class="btn to-the-left group">
      <div class="img"
           style='background-size: contain;background-image: url({{ url_for('static', filename="img/foot_icon/png/add-friend.png") }});'></div>
    </div>
    <div class="btn to-the-left radar">
      <div class="img"
           style='background-size: contain;background-image: url({{ url_for('static', filename="img/foot_icon/png/technology.png") }});'></div>
    </div>
    <div class="btn to-the-left profile">
      <div class="img"
           style='background-size: contain;background-image: url({{ url_for('static', filename="img/foot_icon/png/user.png") }});'></div>
    </div>
  </div>
</div>
